{% load static crispy_forms_filters i18n %}
<form {% block form_encoding %}{% endblock %} action="{% block form_action %}{% endblock %}" method="post" class="modal-form {% block form_class %}form-horizontal{% endblock %}">

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h2>{% block form_title_prefix %}{% endblock %}{% block form_title %}{% endblock %}</h2>
</div>
    <div class="modal-body">
        {% block form_message %}{% endblock %}
        {% csrf_token %}
        {% block form %}
            {{ form|crispy }}
        {% endblock %}
        {% block form_extra %}
            {# Use this space to add additional things to the end of the form #}
            {# Things such as inline formsets :) #}
        {% endblock %}
    </div>
    <div class="modal-footer">
        {% block extra_form_controls %}{% endblock %}
        {% block form_controls %}
            <input type="button" class="btn" data-dismiss="modal" value="{% trans "Cancel" %}"/>
            <input type="submit" class="btn btn-primary" value="{% block submit_value %}{% trans "Submit" %}{% endblock %}"/>
        {% endblock %}
    </div>
    {% block form_additional %}
        <script type="text/javascript">
            // Attach select2 by default, with same width as standard inputs
            // (select2 width is set like border-box box-sizing)
            $('select').select2({'width': '100%'});
            $('.dateinput').datepicker(__DATEPICKER_FORMAT);
        </script>
    {% endblock %}
</form>
